/* 参考: [招商银行 手机银行网页版](https://mobile.cmbchina.com/MobileHtml/Login/LoginA.aspx) */
/* 参考: [Switchery - iOS 7 style switches for your checkboxes](http://abpetkov.github.io/switchery/) */
.iswitch {
    position: relative;
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
}
/* switch 滑动区域 */
.iswitch-checkbox {
    -webkit-appearance: none;
    width: 51px;
    height: 32px;
    padding: 0;
    margin: 0;
    border: solid 2px #e6e6e6;
    border-radius: 20px;
    vertical-align: top;
    /* 阴影区域逐渐缩小的动画 */
    box-shadow: inset 0 0 0 0 #fff;
    -webkit-transition: box-shadow .325s;
    cursor: pointer;
}
/* switch 滑动区域的背景动画 */
.iswitch-checkbox:checked {
    border: none;
    /* 阴影区域逐渐扩大的动画 */
    box-shadow: inset 0 0 0 17px #1F6FA4;
    /* -webkit-transition: none; */ /* ios7 check状态时没有动画 */
}
/* 去掉focus时的边框 */
.iswitch-checkbox:focus {
    outline: none;
}
/* switch 滑动区域上的thumb */
.iswitch-checkbox::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    height: 28px;
    width: 29px;
    background-color: #fff;
    box-shadow: 0 3px 4px rgba(0,0,0,0.25); /* 0 0 2px rgba(0,0,0,.5); */
    border-radius: 50%;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    transition: -webkit-transform .1s ease-in-out;
    -webkit-animation-name: iswitch-thumb-off;
    -webkit-animation-duration: .45s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
}
.iswitch-checkbox:checked::after {
    -webkit-transform: translate3d(20px,0,0);
    -webkit-transition-duration: .2s;
    /* 宽度拉伸动画, 营造速度感, 可以去掉直接做translate动画 */
    -webkit-animation-name: iswitch-thumb-on;
}
@-webkit-keyframes iswitch-thumb-on {
    0% { width: 27px; }
    1% { width: 40px; }
    50% { width: 27px; }
    100% { width: 27px; }
}
@-webkit-keyframes iswitch-thumb-off {
    0% { width: 27px; }
    5% { width: 45px; }
    50% { width: 27px; }
    100% { width: 27px; }
}
